<div id="list_heading"><h1>Request for <%= @special_collections_request.document.value_for :title_display %></h1></div>

<div class="tool_content spec_coll">
	
<%= error_messages_for :special_collections_request %>

<div id="returnToItem">
<%= link_to '&larr; Return to request list', special_collections_requests_path %>
</div>

<% form_for(@special_collections_request) do |f| -%>
<fieldset>
  <%= render :partial => 'user_form', :object => f %>
  <p>
  <%= label(:special_collections_request, :staff_note, 'Staff Notes') %>
  <%= f.text_area :staff_note %>
  </p>
  <%= f.submit "Generate PDF", :class => 'button' %> or 
  <%= link_to 'Return to request list', special_collections_requests_path %>
</fieldset>

<ul>
  <% @special_collections_request.document.marc_display.location_notes.each do |loc| -%>
    <li><%= loc %></li>
  <% end -%>
</ul>

<% end -%>

</div>
