<div id="list_heading"><h1>Request for <%= @special_collections_request.document.value_for :title_display %></h1></div>

<div class="tool_content spec_coll">
	
<%= error_messages_for :special_collections_request %>

<div id="returnToItem">
<%= link_to "&larr; Return to item record", catalog_path(params[:id]) %>
</div>

<% form_for(@special_collections_request) do |f| -%>
<div id="special_collections_content">
<fieldset>
  <%= render :partial => 'user_form', :object => f %>
  <%= f.submit "Request", :class => 'button' %> or 
  <%= link_to 'cancel', catalog_path(params[:id]) %>
</fieldset>
</div>
<% end -%>
</div>