<div id="tool_heading"><h1>Special Collections Requests</h1></div>

<div class="tool_content spec_coll">
<% form_tag(new_special_collections_request_path, :method => :get) do -%>
<fieldset>
<p>
  <%= label_tag 'user_id', 'Enter your Library ID'%>
  <%= text_field_tag 'user_id' %>
</p>
<p>
  <%= hidden_field_tag 'id', @special_collections_request.document_id %>
</p>
  <%= submit_tag "Request", :class => 'button' %> or 
  <%= link_to 'cancel', catalog_path(params[:id]) %>
</fieldset>
<% end -%>
</div>