<div id="list_heading"><h1>Create a New Map User</h1></div>

<div class="tool_content">

<%= error_messages_for :maps_user %>

<% form_for(@maps_user) do |f| -%>
<fieldset class="maps-user-form maps-container">
<div class="row">
  <%= label(:maps_user, :computing_id, "Computing ID") %>
  <%= f.text_field :computing_id %>
</div>
<div class="row">
  <%= f.submit "Create", :class => 'button btn' %>
  <%= link_to 'Cancel', maps_users_path, :class => 'btn' %>
  </div>
</fieldset>
<% end -%>

</div>