<tr class="document" id="<%= document[:id] %>">
  <td><!--number --></td>
	<td><%= link_to 'Remove', folder_path(document[:id]), :method => :delete, :confirm => 'Remove star from this item?', :class => "remove-star" %></td>
	<td class="title"> <% heading_title = get_heading_title(document.value_for(:main_title_display), document.value_for(:series_title_display), document.value_for(:title_display)) %><%= link_to_document document, :label => heading_title%></td>
	<td class="author"><span class="starred-author"><%= document.value_for :author_display %></span></td>
	<td class="format"><%= document.value_for :format_facet%></td>
	<td class="year"><%= document.value_for(:year_display) %></td>
	<td class="type">Catalog</td>
	<td class="access"><%= link_to "Access online", document.dl_jp2k_applet_viewer(document[:id]) %></td>
</tr>