<tr class="document" id="<%= document[:id] %>">
  <td><!--number --></td>
	<td><%= link_to 'Remove', folder_path(document[:id]), :method => :delete, :confirm => 'Remove star from this item?', :class => "remove-star" %></td>
	<td class="title"><%= link_to_document document, :label => dl_text_title(document) %></td>
	<td class="author"><span class="starred-author"><%= document.value_for :author_display %></span></td>
	<td class="format"></td>    
	<td class="year"><% document.value_for(:year_display).blank? ? year_display="n/a" : year_display = document.value_for(:year_display) %><%= year_display %></td>			
	<td class="type"></td>
	<td class="access"> <% unless document.doc_sub_type == :finding_aid %><%= xtf_link('View', document) %><% end %> </td>
</tr>
