<tr class="document" id="<%= document[:id] %>">
  <td><!--number --></td>
  <td class="folder_container"><%= link_to 'Remove Star', folder_path(document[:id]), :class=>'deleteFolder_link remove-star', :title=>'Remove Star' %></td>
	<td class="title"><% heading_title = get_heading_title(document.value_for(:main_title_display), document.value_for(:series_title_display), document.value_for(:title_display)) %><%= link_to_document document, :label => heading_title %></td>
	<td class="author"><span class="starred-author"><%= document.value_for :author_display %></span></td>
	<td class="format"></td>    
	<td class="year"><% document.value_for(:year_display).blank? ? year_display="n/a" : year_display = document.value_for(:year_display) %><%= year_display %></td>			
	<td class="type">Catalog</td>
	<td class="access"> <%= link_to image_tag(document.dl_jp2k_preview, :class => "photo"), document.dl_jp2k_viewer, :popup => true%> </td>
</tr>

