<tr class="document" id="<%= document[:id] %>">
  <td><!--number --></td>
	<td class="folder_container"><%= link_to 'Remove Star', folder_path(document[:id]), :class=>'deleteFolder_link remove-star', :title=>'Remove Star' %></td>
	<td class="title">
		 <%- if (document[:linked_title_display] rescue false) -%><%= link_to_document document, :label => document.value_for(:linked_title_display) %><%- end -%>
		 <%- unless (document[:linked_title_display] rescue false) -%><%= link_to_document document, :label => video_title(document) %><% end %>
	</td>
	<td class="author"><span class="starred-author"> 
		<% authors = document.author_type_fields %>
		<% authors.each do |k,v| %>
			<%= document.value_for k %>
		<% end %>
	</td>
	<td class="format"><%= video_format(document) %> </td>
	<% if params[:controller] == "reserves" -%>
		<td><%= reserve_library_list(document) %></td>
		<td><%= reserve_loan_list(document) %></td>
	<% else -%>
    <td class="year"><% unless document.journal? %><%= document.value_for :published_date_display %><% end %></td>
    <td class="type">Catalog</td>
		<td class="access"><%= link_to 'Check availability', catalog_path(document[:id]) %></td>
	<% end -%>
</tr>
