<tr class="document" id="<%= document[:id] %>">
  <td><!--number --></td>
	<td class="folder_container"><%= link_to 'Remove Star', folder_path(document[:id]), :class=>'deleteFolder_link remove-star', :title=>'Remove Star' %></td>
	<td class="title"><%= link_to_document document, :label => full_title(document) %></td>
	<td class="author">
		<% authors = document.author_type_fields -%>
		<% authors.each do |k,v| -%>
			<span class="starred-author"><%= document.value_for(k) %></span>
		<% end %>
	</td>
	<td class="format"><%= document.value_for :format_facet %></td>
	<td class="year">
		<% unless journal?(document) -%>
			<%= document.value_for :published_date_display %>
		<% end %>
	</td>
	<td>Catalog</td>
	<td class="availability"><%= link_to 'Check availability', catalog_path(document[:id]) %></td>
</tr>