<tr id="<%= document[:id] %>">
  <td><!--number --></td>
	<td><%= link_to 'Remove', folder_path(document[:id]), :method => :delete, :confirm => 'Remove star from this item?', :class => "remove-star" %></td>
	<td class="title"><%= link_to_document document, :label => full_title(document) %></td>
	<td class="author">
		<% authors = document.author_type_fields -%>
		<% authors.each do |k,v| -%>
			<span class="starred-author"><%= document.value_for(k) %></span>
		<% end %>
	</td>
	<td class="format"><%= document.value_for :format_facet %></td>
	<td class="date">
		<% unless journal?(document) -%>
			<%= document.value_for :published_date_display %>
		<% end %>
	</td>
	<td>Catalog</td>
	<td class="availability"><%= link_to 'Check availability', catalog_path(document[:id]) %></td>
</tr>