<div id="list_heading">Edit Map</div>

<div class="tool_content">


<%= error_messages_for :map %>

<% form_for(@map) do |f| %>
<fieldset>
  <%= render :partial => 'form', :object => f %>
  <div class="row">
  <%= label_tag '' %>
  <%= f.submit "Update", :class => 'button' %> &nbsp; or <%= link_to 'cancel', maps_path %>
  </div>
</fieldset>
<% end %>

</div>