<div id="list_heading">Maps</div>

<div class="tool_content">

<%= link_to 'Add a new map', new_map_path %> | <%= link_to 'Administer Maps Users', maps_users_path %>

<% for map in @maps -%>
  <div id="map_<%= map.id %>">
    <div class="mapEntry">
	    <div class="mapName"><%= h map.library.name %>: <%= h map.description %></div>
      <div class="mapTools">[<%= link_to 'Edit Map', edit_map_path(map.id)%> | <%= link_to "Delete Map", map_url(map), :method => :delete, :confirm => 'Are you sure you want to delete this map and its call numbers? You cannot undo this.' %>]</div>
      <div class="mapUrl">URL: <%= h map.url %></div>
    </div>

  	<div class="mapGuides">    
	   Call Number Ranges For this Map (leave blank if there is only one map for the whole library)
    <% unless map.call_number_ranges.empty? %>
	      <% map.call_number_ranges.each do |range| %>
					<div>
	          <%= h range.call_number_range %>
	          [<%= link_to "remove", call_number_range_path(range.id), :method => :delete, :confirm => 'Are you sure you want to delete this entry?' %>]
	        </div>
	      <% end %>
    <% end %>
		<% form_tag(call_number_ranges_path) do %>
			<%= text_field_tag(:call_number_range) %>
			<%= hidden_field_tag(:map_id, map.id) %>
			<%= submit_tag "Add" %>
		<% end %>
		</div>
  </div>
<% end -%>

</div>