<div id="list_heading"><h1>Create a New Map</h1></div>

<div class="tool_content">

<% if @map.errors.any? %>
  <ul>
    <% @map.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
	
<%= form_for(@map) do |f| -%>
<fieldset class="maps-form maps-container">
  <%= render :partial => 'form', :object => f %>
    <div class="row">
    <%= f.submit "Create", :class => 'button btn' %>
    <%= link_to 'Cancel', maps_path, :class => 'btn' %>
    </div>
</fieldset>
<% end -%>

</div>