<%- @add_to_html_head = capture do -%>
  <%= javascript_include_tag 'catalog/index', 'jquery.dataTables.min.js', 'account-listing.js' %>
<%- end -%>

<div id="list_heading"><h1>Starred Items<%= " (#{session_folder_document_ids.count + session_folder_article_ids.count})"  %></h1></div>

<% unless folder_empty? %>
  <p class="starred-info">Track and export up to <strong>100</strong> items by starring results. Starred items are not saved permanently but will persist for your full visit to Virgo.</p>
	<p class="ui-state-highlight ui-corner-all notice">Please note: Export to Refworks, EndNote, and Zotero is not yet available for starred articles. Starred catalog items are still available for export.</p>
<% end %>

<% sidebar_items << capture do %>
	<div id="sub1" class="bookmarks_sub">
	<div id="sub1Inner">
	  <div id="account_menu" class="tools box menu">
      <ul>
        <li class="account-home-nav"><%= link_to("My Account", account_index_path) %></li>
        <% unless folder_empty? %>
        <li class="actions-list-container">
    		  <h2>Starred Items</h2>
    			<ul id="markedListTools">
    			  <li>
    			    <%= link_to "Email", email_path %>
    			  </li>
    			  <li>
    			    <%= link_to "Cite", citation_path %>
    			  </li>
    			  <li>
    			    <%= link_to "Export to Refworks", refworks_texts_path %>
    			  </li>
    			  <li>
    			    <%= link_to "Export to EndNote/Zotero", endnote_path %>
    			  </li>
    			  <li>
    			    <%= link_to "Export CSV", csv_path(:format => 'csv')%>
    			  </li>
    			  <li>
    			    <%= link_to "Clear Starred Items", clear_folder_path, :method => :delete %>
    			  </li>
    			</ul>
		    </li>
		  <% end %>
		</ul>
	</div>
	</div>
	</div>
<% end %>

<div id="results" class="account_container">
<% if folder_empty? %>
	<h2 class='no-items'>No Starred Items</h2>
<% else %>
	<table id="starred-listing" class="account-listing">
	  <thead>
      <tr>
        <th class="starred-number-heading hidden-heading"> <!-- Number --> </th>
        <th class="starred-star-heading hidden-heading"> <!-- Remove --> </th>
        <th class="starred-title-heading">Title</th>
        <th class="starred-author-heading">Creator</th>
        <th class="starred-format-heading">Format</th>
        <th class="starred-year-heading">Year</th>
        <th class="starred-library-heading">Type</th>
        <th class="starred-availability-heading">Availability</th>        
      </tr>
    </thead>
    <tbody>
		  <%= render :partial => 'folder_rows', :locals=>{:documents => @documents} %>
		  <%= render :partial => 'folder_rows', :locals=>{:documents => @articles} %>
		</tbody>
	</table>
<% end %>
</div>