<% if request.env['HTTP_X_REQUESTED_WITH']=='XMLHttpRequest' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
<% end %>

<div class="itemShowView document" id="Doc<%= document[:id] %>">
	
  <div id="identifierFields">
    <% heading_title = get_heading_title(@document.value_for(:main_title_display), @document.value_for(:series_title_display), @document.value_for(:title_display)) %>
    <h1 id="titleField"><%= heading_title %></h1>
    <!--  This should be the display quality data about this item, as human readable as possible. 
      For example, we should include the season information, for comic books, television shows, and other works
      that are divided into parts (i.e., 245n or document.marc.part) and we should include the responsibility 
      statement, i.e., the author or editor or whatever of a work, as their name appears on the book, which will 
      often differ from the authorized forms of people's names as they appear in other marc fields
    -->
    <div id="respStmtField">
      <% unless @document.value_for(:author_display) == 'n/a' %>
				<div><%= @document.value_for :author_display %></div>
      <% end %>
    </div>
	</div>
	
<div id="details">	
  <dl>
  	<% #------------ Format ------------- %>
	 <% unless @document.value_for(:format_facet) == 'n/a' %>
	<dt>Format</dt>
	<dd><%= @document.value_for :format_facet %></dd>
	<% end %>
	
	
	
    <% #------------ Title ------------- %>
    <% unless @document.value_for(:main_title_display) == 'n/a' %>
      <dt>Title</dt>
      <dd><%= @document.value_for :main_title_display %></dd>
    <% end %>
        
    <% unless @document.value_for(:series_title_display) == 'n/a' %>
      <dt>Series</dt>
      <dd><%= @document.value_for :series_title_display %></dd>
    <% end %>
        
    <% unless @document.value_for(:alternate_title_display) == 'n/a' %>
      <dt>Alternate Title</dt>
      <% @document.values_for(:alternate_title_display).each do |v| %>
        <dd><%= v %></dd>									
      <% end %>
    <% end %>
        
    <% #------------ Author ------------- %>
    <% unless @document.value_for(:author_display) == 'n/a' %>
      <dt>Creator</dt>
      <% @document.values_for(:author_display).each do |v| %>
        <dd>
	  <%# use author_display for display (link text) but author_facet for searching (link URL) %>
	  <% author_facet = @document.values_for(:author_facet).find {|f| v =~ /^#{f}/ } unless @document.values_for(:author_facet).nil? %>
	  <% q = author_facet.blank? ? v : author_facet %>
	  <%= link_to v, catalog_index_path({:focus=>'author', :q=>q}) %>
	</dd>
      <% end %>
    <% end %>

    <% #------------ Date Created------------- %>
    <% unless @document.value_for(:year_display) == 'n/a' %>
      <dt>Date Created</dt>
      <% @document.values_for(:year_display).each do |v| %>
        <dd><%= v %></dd>									
      <% end %>
    <% end %>
				
    <% #------------ descmeta fields  ------------- %>
    <% unless @document.value_for(:desc_meta_file_display) == 'n/a' %>
      <dt>Description</dt>
      <dd><%= @document.value_for(:desc_meta_file_display, '') %></dd>
    <% end %>
				
    <% #------------ Type------------- %>
    <% unless @document.value_for(:genre_facet) == 'n/a' %>
      <dt>Type</dt>
      <% @document.values_for(:genre_facet).each do |v| %>
        <dd><%= v %></dd>									
      <% end %>
    <% end %>
				
    <% #------------ Composition Era ------------- %>
    <% unless @document.value_for(:composition_era_facet) == 'n/a' %>
      <dt>Composition Era</dt>
      <% @document.values_for(:composition_era_facet).each do |v| %>
        <dd><%= v %></dd>									
      <% end %>
    <% end %>
		
    <% #------------ Staff Notes ------------- %>
    <% unless @document.value_for(:note_display) == 'n/a' %>
      <dt>Note</dt>
      <% @document.values_for(:note_display).each do |v| %>
        <dd><%= v %></dd>
      <% end %>
    <% end %>
				
    <% #------------ Location ------------- %>
    <% unless @document.value_for(:location_display) == 'n/a' %>
      <dt>Location</dt>
      <dd><%= @document.value_for :location_display %></dd>
    <% end %>
	
	<% unless @document.value_for(:location_facet) == 'n/a' %>
      <dt>Location</dt>
      <% @document.values_for(:location_facet).each do |v| %>
        <dd><%= v %></dd>
      <% end %>
    <% end %>
	
				
	<% #------------ Retrieval ID ------------- %>
    <% unless @document.value_for(:media_retrieval_id_display) == 'n/a' %>
      <dt>Retrieval ID</dt>
      <% @document.values_for(:media_retrieval_id_display).each do |v| %>
        <dd><%= v %></dd>									
      <% end %>
    <% end %>
				
    <% #------------ Collection  ------------- %>
    <% unless @document.value_for(:digital_collection_facet) == 'n/a' %>
      <dt>Collection</dt>
      <% @document.values_for(:digital_collection_facet).each do |v| %>
        <dd><%= link_to v, add_facet_params(:digital_collection_facet, v).merge(:action=>nil,:id=>nil) %></dd>
      <% end %>
    <% end %>
	
	<% #------------ Call number ------------- %>
	<% unless @document.value_for(:call_number_display) == 'n/a' %>
		<dt>Call Number</dt>
		<% @document.values_for(:call_number_display).each do |v| %>
			<dd><%= v %></dd>
		<% end %>
	<% end %>
	
	<% #----------Date Indexed----------- %>
	<% if ENV["RAILS_ENV"]== 'development'%>
		<% unless document.value_for(:date_indexed_facet).empty? %>
  			<% date = document.value_for(:date_indexed_facet) %>
			<% date = date[0,4]+ "-" + date[4,2] + "-"+ date[6,2] + " " + date[8,2] + ":" + date[10, 2]%>
  			<dt>Date Indexed</dt>		
  			<dd><%= date %></dd>
  		<% end %>
	<% end %>
	
	<% if document.has?(:content_model_facet, 'jp2k') %>
		<dt class="show_detail">Download</dt>
		<dd class="show_detail">
			<%= link_to "Full-size Image",  document.fedora_url + "/objects/" + document[:id].to_s + "/methods/djatoka:StaticSDef/getStaticImage", :target => "_blank" %>
			<span class="terms-link">[<%= link_to "Terms of Use",  "http://www2.lib.virginia.edu/small/using/use_of_materials_policy.html", :target => "_blank" %>]</span>
		</dd>
	<% end %>

  </dl>	
</div>

<%= render :partial => "catalog/_show_partials/availability", :locals => { :document => document } %>

</div>

<% sidebar_items << capture do %>
  <div id="sub1">
  <div id="sub1Inner">
	<%= render :partial => 'catalog/_show_partials/document_image', :locals => { :document => document } %>
  <%= render :partial => 'catalog/_show_partials/subjects', :locals => { :document => document } %>
  </div>
  </div>
<% end %>
