<div class="document clearFix" id="Doc<%= document.id %>">

  <div class="details">
      <dl class="metadata hd">
        <dt class="hide">Title: </dt>
        <dd class="titleField">
          <span class="listItemNumber"><%= counter + 1 + offset %>.</span>
          <%= link_to document.display.title, document.links.first.fulltext_url %>
        </dd>
      </dl>
      <dl class="metadata">
        <% unless document.display.creator.blank? %>
          <dt>Author</dt> 
          <dd><%= document.display.creator %></dd>
        <% end %>
        <% unless document.display.is_part_of.blank? %>
          <dt>Published in</dt>
          <dd><%= document.display.is_part_of %></dd>
        <% end %>
        <% unless document.display.identifier.blank? %>
          <dt>Identifier</dt>
          <dd><%= document.display.identifier %></dd>
        <% end %>
        <% unless document.links.empty? %>
          <dt>Availability</dt>
          <dd><%= 
            link_to "Access online", document.links.first.fulltext_url
            # replace with link_to "GetIt1", get_it.get_it_1
            -%></dd>            
        <% end %>
      </dl>
  </div>

  <div class="tools">
     <%= render :partial=>'catalog/folder_control', :locals=>{:document=>document} %>
  </div>

</div>