<div class="document clearFix" id="Doc<%= document[:id] %>">
	<div class="details">
	  
	  <dl class="metadata hd">
			<dt class="hide">Title</dt>
			<dd class="titleField"><span class="listItemNumber"><%= counter + 1 + offset %></span>
			<%= link_to_document document, :label => :title_display, :counter => counter + 1 + offset, :bookmarks_view => bookmarks_view %></dd>
		</dl>
		
		<dl class="metadata">
      
      <%# TODO: Show thumbnail of first page image, similar to _dl_image partial %>
    	
			<dt>Type</dt>
			<dd>Digital manuscript resource</dd>
      
      <% unless document.value_for(:author_display) == 'n/a' %>
        <dt>Creator</dt>
        <dd><%= document.value_for :author_display %></dd>
      <% end %>
			
      <% unless document.value_for(:year_display) == 'n/a' or document.value_for(:year_display).blank? %>
			  <dt>Date</dt>
        <dd><%= document.value_for :year_display %></dd>
      <% end %>
      
      <% unless document.value_for(:digital_collection_facet) == 'n/a' %>
  			<dt>Digital Collection</dt>
  			<dd><%= document.value_for :digital_collection_facet %></dd>
      <% end %>
      
      <%# TODO: link to page turner for viewing manuscript page images %>
		</dl>
	</div>
	
	<% unless bookmarks_view or params[:catalog_select] == 'all' %>
	<div class="tools">
    <%= render :partial=>'folder_control', :locals=>{:document=>document} %>
  </div>
  <% end %>
  
</div>