<div class="document clearFix" id="Doc<%= document[:id] %>">
	<div class="details">
	  
	  <dl class="metadata hd">
			<dt class="hide">Title</dt>
			<dd class="titleField"><span class="listItemNumber"><%= counter + 1 + offset %></span>
			<%= link_to_document document, :label => dl_text_title(document), :counter => counter + 1 + offset, :bookmarks_view => bookmarks_view %></dd>
		</dl>
		
		<dl class="metadata">
      
			<dt>Type</dt>
			<dd>Text Resource</dd>
      
      <% unless document.value_for(:author_display) == 'n/a' %>
        <dt>Creator</dt>
        <dd><%= document.value_for :author_display %></dd>
      <% end %>
			
      <% unless document.value_for(:year_display) == 'n/a' or document.value_for(:year_display).blank? %>
			  <dt>Date</dt>
        <dd><%= document.value_for :year_display %></dd>
      <% end %>
      
      <% unless document.value_for(:digital_collection_facet) == 'n/a' %>
  			<dt>Collection</dt>
  			<dd><%= document.value_for :digital_collection_facet %></dd>
      <% end %>
      
      <% unless document.doc_sub_type == :finding_aid %>
			  <dt>Full Text</dt>
			  <dd><%= xtf_link('view', document) %></dd>
      <% end %>
		</dl>
	</div>
	
	<div class="tools">
    <%= render :partial=>'folder_control', :locals=>{:document=>document} %>
  </div>
  
</div>