<div class="document clearFix" id="Doc<%= document[:id] %>">
  <div class="details">
    <dl class="metadata hd">
			<dt class="hide">Title: </dt>
		<%- if (document[:linked_title_display] rescue false) -%>
    	<dd class="titleField">
				<span class="listItemNumber"><%= counter + 1 + offset %>.</span>
				<%= link_to_document document, :label => document.value_for(:linked_title_display), :counter => (counter + 1 + offset), :bookmarks_view => bookmarks_view %></dd>
    <%- end -%>
	  	  
      <dd class="titleField">
				<%- unless (document[:linked_title_display] rescue false) -%>
					<span class="listItemNumber"><%= counter + 1 + offset %>.</span>
				<%- end -%>
	<%= link_to_document document, :label => full_title(document), :counter => (counter + 1 + offset), :bookmarks_view => bookmarks_view  %></dd>
     </dl>	

		<dl class="metadata">

			<dt>Format</dt>
			<dd class="formatField">
		 	<%= document.value_for :format_facet %> 			
			</dd>
		
		  <% authors = document.author_type_fields %>
			<% authors.each do |k,v| %>
			<dt>Creator</dt>
			<dd class="authorField">
				<%= document.value_for k %>
			</dd>
			<% end %>
					
			<% if !document.get(:url_display).nil? %>
				<dt>Access Online</dt>
  			<dd class="onlineAccessField">
					<% if document[:url_display].length > 1 %>
						<%= link_to_document document, :label => "View list of available content", :counter => (counter + 1 + offset), :bookmarks_view => bookmarks_view %>
					<% else %>
						<%= link_to_online_access(document, "", "View full text from Hathi Trust") %>
					<% end %>
				</dd>
			<% end %>
		</dl>
		
	</div>
	
	<% unless bookmarks_view or params[:catalog_select] == 'all' %>
  <div class="tools">
    <%= render :partial=>'catalog/folder_control', :locals=>{:document=>document} %>
  </div>
  <% end %>

</div>

	
