<h1>Assign a Location and Call Number Range to "<%= @map_guide.map.description %>"</h1>

<%= error_messages_for :map_guide %>

<% form_for(@map_guide) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :object => f %>
    <div class="row">
      <%= label_tag ''%>
      <%= f.submit "Create", :class => 'button' %> &nbsp; or 
      <%= link_to 'cancel', maps_path %>
    </div>
  </fieldset>
<% end %>