<div id="tool_heading"><h1>Citation</h1></div>

<div id="returnToSearch">
  <%= link_back_to_catalog :label=>'&larr; Return to search results' %>
</div>

<div class="tool_content">
	
<% @documents.each do |document| %>

<h1><%= citation_title(document) %></h1>

<% if document.respond_to?(:export_as_mla_citation_txt) %>
  <h4>MLA</h4>
  <%= document.send(:export_as_mla_citation_txt) %><br/><br/>
<% end %>

<% if document.respond_to?(:export_as_apa_citation_txt) %>
  <h4>APA</h4>
  <%= document.send(:export_as_apa_citation_txt) %>
<% end %>

<% end %>

<% @articles.each do |article| %>
	<h4>MLA</h4>
	<%= article.display.creator %> "<%= article.display.title %>." <i><%= article.additional_data.journal %></i> <%= article.additional_data.volume %>.<%= article.additional_data.issue %> (<%= article.search.creation_date %>): <%= article.additional_data.start_page %>-<%= article.additional_data.end_page %>.
		
	<h4>APA</h4>
	<%= article.display.creator %> (<%= article.search.creation_date %>). "<%= article.display.title %>." <i><%= article.additional_data.journal %></i>, <%= article.additional_data.volume %> (<%= article.additional_data.issue %>), <%= article.additional_data.start_page %>-<%= article.additional_data.end_page %>.
	
<% end %>
</div>