<table class="holdings">
	<thead>
		<tr class="head_row">
			<th class="holding_head library_name">Library</th>
			<th class="holding_head location_name">Location</th>
			<th class="holding_head map_it">Map</th>
			<th class="holding_head num_available">Availability</th>
			<th class="holding_head call_number">Call Number</th>
		</tr>		
	</thead>
	<tbody>
		
	<% if !@document.availability or @document.availability.holdings.size == 0 %>
		<tr class="holding first even">
			<td class="holding_data no_info" colspan="5">No information available for this item.</td>
		</tr>
	<% else %>

		<% i = 0 %>

		<% special_collections_lens? ? holdings = document.availability.special_collections_holdings : holdings = document.availability.holdings %>

	  <% holdings.each do |holding| %>
        
	    <% holding.copies.each do |copy| %>
    
	        <tr class="holding<%= ' first' if (i == 0) %> <%= cycle(" even", " odd") -%>">
    
	        <td class="holding_data library_name"><%= holding.library.name %></td>
    
	    		<% if !holding.library.is_sas? %>

	    				<td class="holding_data location_name">
	    					<%= location_text(holding, copy) %>
	    				</td>
				
	    				<td class="holding_data map_it">
	    					<%= link_to_map(holding, copy) %>
	            </td>

	    				<td class="holding_data availability">
	    					<%= "<span class='availability-indicator #{availability_text(copy).downcase}'>#{availability_text(copy)}</span>".html_safe %>
	    					<%= '<span class="availability-indicator non-circ">Non-Circ.</span>'.html_safe if !copy.circulates? %>
	    				</td>

	    				<td class="holding_data call_number">
	    					<%= holding.call_number %>
	    				</td>

	  			<% else %>
			
	  				<td class="holding_data section_name">
	  					<%= location_text(holding, copy) %>
	  				</td>		

	    			<td class="holding_data map">
	  					<%= link_to_map(copy) %>
	          </td>

	  				<td class="holding_data availability">
	  				</td>

	      	  <td class="holding_data call_number">
	  					<%= sas_call_number_text(holding, copy) %>
	  				</td>
				
	  			<% end %>
  			
	  			</tr>
  			
	  			<% i += 1 %>
  			
	  		<% end %>	         
  	  
	  <% end %> 

	<% end %>
		
	</tbody>
</table> <!-- end table.holdings -->