<% total = @response.response['numFound'] %>
<% if total > 0 and @response.docs.size > 0 %>
  <div id="searchTools" class="tools box clearFix">
  
    <div id="SortFormContainer">
  	  <% unless total < 2 %>
  	  <% if params[:controller] == 'folder' %>
  	    <% link = folder_index_path %>
  	  <% elsif params[:controller] == 'articles' %>
  	    <% link = articles_path %>
  	  <% else %>
  	    <% link = catalog_index_path %>
  	  <% end %>
				<%= form_tag link, :method => :get, :class => 'sort', :id => 'sort_form' do %>
					<%= label_tag(:sort_key) do %>
						Sort by <%= select_tag(:sort_key, options_for_select(sort_fields, h(params[:sort_key])), :onchange => 'this.form.submit()') %>
					<% end %>
      		<%= search_as_hidden_fields(:omit_keys => [:page, :sort_key]) %>			
  	      <noscript><%= submit_tag 'sort results' %></noscript>
  			<% end %>
  		<% end %>
  	</div>
  
    <div id="PerPageContainer">
      <% unless total < 1 %>
        <% if params[:controller] == 'folder' %>
          <% link = folder_index_path %>
        <% elsif params[:controller] == 'articles' %>
          <% link = articles_path %>
        <% else %>
          <% link = catalog_index_path %>
        <% end %>
    		<%= form_tag link, :method=>:get, :class=>'per_page' do %>
    			<%= label_tag(:per_page) do %>
						Show <%= select_tag(:per_page, options_for_select(['20', '50', '100'], h(params[:per_page])), :title => "Number of results to display per page", :onchange => 'this.form.submit()') %> per page
					<% end %>
    	    <%= search_as_hidden_fields(:omit_keys => [:page, :per_page]) %>
     			<noscript><%= submit_tag 'update' %></noscript>
    		<% end %>
    	<% end %>
    </div>
    <% unless params[:controller] == "folder" %>
  	  <%= render :partial=>'/catalog/document_actions' %>
  	<% end %>

    <div id="resultsRSS">
    	<% unless total < 1 or params[:controller] == "folder"  %>
			<% rss_params = params.dup %>
			<% rss_params.delete :controller %>
     	<%= link_to(
       image_tag('browser-rss.png', :alt => 'RSS feed', :title => 'RSS feed', :height => '20', :width => '20'),
       catalog_index_path(:format => :rss) + "?" + rss_params.to_query, :target => '_blank', :id => "resultsRSSLink"
     )%>    
     <% end %>
    </div>

    <% unless params[:view]=='print' %>
      <%= link_to "Print View", params.merge(:view => :print), :class => 'printPreview', :target => 'blank', :title => "Print View" %>
    <% end %>

  </div>

<% end %>