<div id="video_header">
  Browse by Genre
  <img src="images/content_divider.png" width="490" height="5" alt=" " />
</div>
<div id="video_genres">
  <ul class="genre_list">
    <li class="genre"><%= link_to h("Action & Adventure"), add_facet_params(:video_genre_facet, "Action/Adventure") %></li>
    <li class="genre"><%= link_to h("Animation"), add_facet_params(:video_genre_facet, "Animation") %></li>
    <li class="genre"><%= link_to h("Biography"), add_facet_params(:video_genre_facet, "Biography") %></li>
    <li class="genre"><%= link_to h("Children & Family"), add_facet_params(:video_genre_facet, "Children/Family") %></li>
    <li class="genre"><%= link_to h("Comedy"), add_facet_params(:video_genre_facet, "Comedy") %></li>
    <li class="genre"><%= link_to h("Crime & Mystery"), add_facet_params(:video_genre_facet, "Crime/Mystery") %></li>
    <li class="genre"><%= link_to h("Documentary"), add_facet_params(:video_genre_facet, "Documentary") %></li>
    <li class="genre"><%= link_to h("Drama"), add_facet_params(:video_genre_facet, "Animation") %></li>
    <li class="genre"><%= link_to h("Experimental"), add_facet_params(:video_genre_facet, "Experimental") %></li>
    <li class="genre"><%= link_to h("Film Noir"), add_facet_params(:video_genre_facet, "Film Noir") %></li>
    <li class="genre"><%= link_to h("Historical"), add_facet_params(:video_genre_facet, "Historical") %></li>
    <li class="genre"><%= link_to h("Horror"), add_facet_params(:video_genre_facet, "Horror") %></li>
    <li class="genre"><%= link_to h("Music & Musicals"), add_facet_params(:video_genre_facet, "Music/Musical") %></li>
    <li class="genre"><%= link_to h("Romance"), add_facet_params(:video_genre_facet, "Romance") %></li>
    <li class="genre"><%= link_to h("Sci Fi & Fantasy"), add_facet_params(:video_genre_facet, "SciFi/Fantasy") %></li>
    <li class="genre"><%= link_to h("Television"), add_facet_params(:video_genre_facet, "Television") %></li>
    <li class="genre"><%= link_to h("War"), add_facet_params(:video_genre_facet, "War") %></li>
    <li class="genre"><%= link_to h("Western"), add_facet_params(:video_genre_facet, "Western") %></li>
  </ul>
</div>
