<% complete = params[:complete] == "true" || request.xml_http_request? %>
<div id="title">Browse by <%= facet_field_labels[params[:id]] %></div>

<div id="content_area">
  
    <% complete ? facet_limit = 500 : facet_limit = 20 %>
    <% complete ? facet_sort_style =  "sort_change" : facet_sort_style = "facetSort" %>
    
    
    <div class="facetSort">
    <% complete_param = complete ? "true" : "false" %>
    <% if params[:controller] == 'articles' %>
      <% link = 
					facet_articles_path(
						params_for_facet_values.merge(
							:id => params[:id], 
							"facet.limit" => facet_limit, 
							"width" => 490, 
							:facet_sort => facet_sort_inverse_value(params[:id]), 
							:complete => complete_param
						)
					) 
			-%>
    <% else %>
    	<% link = 
				portal_facet_path(
					params_for_facet_values.merge(
						:id => params[:id], 
						"facet.limit" => facet_limit, 
						"width" => 490, 
						:facet_sort => facet_sort_inverse_value(params[:id]), 
						:complete => complete_param 
					)
				) 
			-%>
    <% end %>
    Sort by:
    <span class="current-sort"><%= current_facet_sort %></span>
    &middot;
    <%= link_to(facet_sort_inverse_label(params[:id]), link, :class => facet_sort_style) %>
  </div>


  <% if params[:controller] == 'articles' %>
    <% items = facet_sort!(params[:id], (@response.facets.detect {|f| f.name == params[:id]}).items) %>
  <% else %>
    <% items = facet_sort!(params[:id], @pagination.items) %>
  <% end %>

<% items.each_with_index do |item, index| -%>
        <% score = "(#{number_with_delimiter(item.hits)})" -%>
        <% index == 0 ? first_column = true : first_column = false -%>
        <% index == (items.length / 2).round ? second_column = true : second_column = false %>
        <% index == items.length - 1 ? last_entry = true : last_entry = false %>

        <% if first_column -%>
          <div id="left_column">
            <ul>
        <% end %>
        <% item.respond_to?(:display_value) ? display_value = item.display_value(params[:id]) : display_value = item.value %>
        <% if params[:id] == item.value || facet_in_params?(params[:id], item.value) %>
          <li><%= h(display_value) %> <%= score %></li>
        <% else %>
          <% if params[:controller] == 'articles' %>
            <% link = articles_path(add_facet_params(h(params[:id]),item.value).merge(:action => "index")) %>
          <% else %>
            <% link = portal_index_path(add_facet_params(h(params[:id]),item.value).merge(:action => "index")) %>
          <% end %>
          <li><%= link_to display_value, link, :target => "_top" %> <%= score %></li>
        <% end %>
        
        <% if second_column %>
          </ul>
          </div>
          <div id="right_column">
          <ul>
        <% end %>

        <% if last_entry %>
          </ul>
          </div>
        <% end %>
<% end %>
</div>
