<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html class="ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @document.value_for(:title_display).nil? ? "Document Viewer" : truncate(@document.value_for(:title_display), 80, "...") %> - Virgo - University of Virginia Library</title>
  <meta name="description" content="Virgo, the online catalog of University of Virginia Library.  Books, articles, maps, digital materials, and more.">
  <meta name="author" content="University of Virginia Library">
  <meta name="keywords" content="University of Virginia, UVa, Virginia, Library, UVa Library, University of Virginia Library, Research, Virgo, VIRGO, catalog, articles, books, journals" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
	<%= javascript_include_tag 'catalog/OpenLayers.js' %>
	<%= javascript_include_tag 'catalog/iscroll-lite-min.js' %>
	
	<% start_page = params[:page] ? params[:page] : @exemplar_id %>
	
	<script type="text/javascript">
		// Pass repo URL and exemplar PID from app
		var PageTurner = {
			<%= ("z: " + params[:z] + ",") if params[:z] -%>
			<%= ("x: " + params[:x] + ",") if params[:x] -%>
			<%= ("y: " + params[:y] + ",") if params[:y] -%>
			<%= ("lock: " + ( params[:lock] ? params[:lock] : 'false' ) + ",") -%>			
			repo: '<%= @repository %>',
			id: '<%= @document[:id] %>',
			pid: '<%= start_page %>'
		}
	</script>
	
	<%= javascript_include_tag 'catalog/page_turner' %>

	<%= stylesheet_link_tag 'page_turner' %>
</head>

<body>

  <div id="container">
		<div class="page_turner_head">
		  <div class="page_turner_title">
    		<% unless @document[:title_display].nil? %>
    			<h1><%= @document.value_for(:title_display) %></h1>
    		<% end %>
    		<% unless @document[:author_display].nil? %>
    			<h2><%= @document.values_for(:author_display).join("; ") %></h2>
    		<% end %>
    		<% unless @document[:year_display].nil? %>
    			<h3><%= ("[" + @document[:year_display] + "]") %></h3>
    		<% end %>
			</div>
			<div class="page_turner_nav">
				<a id="return_to_search" href="/catalog/<%= @document[:id] %>">&laquo; Return to Item Details</a>
				<a id="page_permalink" href="#">Permalink</a>	
				<button id="lock_zoom" class="<%= params[:lock] == 'true' ? 'lock-active' : 'lock-inactive' %>">Set Default Zoom</button>	
				
				<span class="page_turner_prev">&laquo; Previous</span>
				<% if @image_pids %>
					<span class="page_turner_select">
						<select>
							<% @image_pids.each_with_index do |page, i| %>
								<option value="<%= page %>"><%= @image_titles[i] %></option>
							<% end %>
						</select>
					</span>
				<% end %>				
				<span class="page_turner_next">Next &raquo;</span>
				
				<button id="hide_header">Hide</button>	
			</div>
		</div>
		<div class="page_container">
			
			<div id="page_viewer"><!-- OpenLayers loads here --></div>

			<% if @image_pids %>
				<% start_page_index =  @image_pids.index(start_page) %>
			  <div class="page_thumbs">
  				<ul class="page_thumbs_list">
  			<% @image_pids.each_with_index do |page, i| %>
  			  <li id="<%= page %>" class="page_thumb previewThumbImg<%= ' thumb_select' if page == start_page %>">
  			    <span class="jp2kPreview"><%= image_tag "/images/page_default.gif", :alt => "loading page image", :class => "page_default" %></span>
  					<p class="page_title"><%= @image_titles[i] %></p>
  					<p class="page_description"><%= @image_descriptions[i] %></p>
  					<p class="page_download">
  					  <a href="<%= @repository + "/objects/" + page + "/methods/djatoka:StaticSDef/getStaticImage" %>" target="_blank">Download</a>
  					  <span class="terms-link"><%= link_to "Terms of Use",  "http://www2.lib.virginia.edu/small/using/use_of_materials_policy.html", :target => "_blank" %></span>
  					</p>
  			  </li>
  			<% end %>
  				</ul>
				</div>
				<div class="page_thumbs_nav">
				  <span class="page_thumbs_info">Image <span class="thumbs-current-num"><%= start_page_index %></span> of <span class="thumbs-total"><%= @image_pids.length %></span></span>
				  <button id="hide_thumbs">Hide</button>	
				</div>
			<% end %>
		</div> <!--! end .page_container -->
  </div> <!--! end #container -->


</body>
</html>
