<div id="sub1">
  <div id="sub1Inner">
    <div id="account_menu" class="tools box menu">
      <ul>
        <% if params[:action] != "index" %>
        <li class="account-home-nav"><%= link_to("My Account", account_index_path) %></li>
        <% end %>
        <li class="checkouts-nav"><%= link_to("Checked-out Items (#{user.checkout_count})", checkouts_account_index_path) %></li>
        <li class="holds-nav"><%= link_to("Requests (#{user.hold_count})", holds_account_index_path) %>
          <ul>
            <li><%= link_to("ILL/LEO Requests", "https://uva.hosts.atlas-sys.com/illiad/illiad.dll") %></li>
          </ul>
        </li>
        <% if user.can_make_reserves? %>
          <li class="reserves-nav"><%= link_to("Course Reserves (#{user.reserve_count})", reserves_account_index_path) %></li>
        <% end %>
        <li class="notices-nav"><%= link_to("Notices (#{user.overdue_count + user.recalled_count})", notices_account_index_path) %></li>
        <li class="starred-nav"><%= link_to("Starred Items (#{session_folder_document_ids.count + session_folder_article_ids.count})", folder_index_path) %></li>
      </ul>
    </div>
  </div>
</div>
