<%- @add_to_html_head = capture do -%>
  <%= javascript_include_tag 'jquery.dataTables.min.js', 'account-listing.js' %>
<%- end -%>
<div id="list_heading"><h1>My Account</h1></div>
<div class="account_container">
  <h2>Checked-out Items: <span class="account-total"><%= @user_checkouts.checkout_count %></span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<%= link_to "Renew All Items", renew_all_path, :class => "renew-all-link" %></h2>

  <% if @user_checkouts.checkouts.count > 0 %>
  <table id="checkouts_listing" class="account-listing">
    <thead>
      <tr>
        <th class="account-number-heading hidden-heading"> <!-- Number --> </th>
        <th class="account-title-heading">Title</th>
        <th class="account-author-heading">Creator</th>
        <th class="account-item-status-heading hidden-heading"><!-- Item Status --></th>
        <th class="account-due-heading">Due Date</th>
        <th class="account-library-heading">Library</th>
        <th class="account-call-heading">Call #</th>
        <th class="account-renew-heading hidden-heading"> <!-- Renew --> </th>
      </tr>
    </thead>
    <tbody>
    <% checkout_count = 1 %>      
    <% @user_checkouts.sorted_checkouts.each do |checkout| %>
      <% checkout.catalog_item.holdings.each do |holding| %>
        <% holding.copies.each do |copy| %>
          <tr class="item <%= cycle("even", "odd") %>">
            <% title = checkout.catalog_item.title %>
            <% title += " : #{checkout.catalog_item.subtitle}" unless checkout.catalog_item.subtitle.blank? %>
            <td class="item-number"><%= checkout_count.to_s + "." %></td>
            <td class="title"><%= link_to(title, catalog_path("u#{checkout.catalog_item.key}")) %></td>
            <td class="author"><%= checkout.catalog_item.authors %></td>
            <td class="item-status"><%= "overdue" if checkout.overdue? %> <%= "recalled" if checkout.recalled? %></td>
            <td class="date<%= " account-notice-container" if checkout.overdue? or checkout.recalled? %>"><%= checkout.date_due_f %><%= "<span class='account-notice overdue'>overdue</span>".html_safe if checkout.overdue? %><%= "<span class='account-notice recalled'>recalled</span>".html_safe if checkout.recalled? %></td>
            <td class="location"><%= holding.library.name %></td>
            <td class="call-number"><%= holding.call_number %></td>
            <td><%= link_to("Renew", renew_path(checkout.catalog_item.key, checkout.key)) if checkout.renewable? %></td>
          </tr>
          <% checkout_count += 1 %>
        <% end %>  
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%else %>
    <h2 class="no-items">No Checked-out Items</h2>
  <% end %>
</div>

<% sidebar_items << capture do %>
  <%= render :partial => 'sidebar', :locals => {:user => @user_checkouts} %>
<% end %>
