<div id="list_heading"><h1>My Account</h1></div>
<div class="account_container tool_content">
  <h2 class="sign-in-heading">Please sign in to view your account.</h2>
  <%= form_tag(do_patron_login_path, :method=>:post) do %>
    <fieldset class="patron-login">
    	<p>
    	  <%= label_tag 'login', 'Library ID'%>
    	  <%= text_field_tag 'login' %>
				<%= hidden_field_tag 'redirect', params[:redirect] if params[:redirect] %>
				<%= hidden_field_tag 'id', params[:id] if params[:id] %>
      	<%= submit_tag "Sign in", :class => 'button btn' %>
    	</p>
    </fieldset>
  <% end %>
</div>